.fullField {
    width: 460px;
}

.fullField .fieldCell{
    float:left;
    width:20px;
    height:20px;
    background: orange;
    border: 1px solid black;
    margin-right:1px;
    margin-bottom:1px;
}
.fullField .fieldCell.wall {
    background: #4b2a00;
}
.fullField .fieldCell.point {
    background: red;
}